.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#logo {
    height: 100px; 
    margin-left: -220px;
}


.navbar-nav .nav-link {
    line-height: 60px; 
}

.navbar {
    padding: 0; 
}

.navbar-brand {
    font-size: 1.5rem;
    color: white; 
    display: flex;
    align-items: center;
}

#redes{
    height: 30px;
}

.carousel-item {
    object-fit: cover; /* Esto asegura que la imagen cubra el contenedor sin distorsionarse */
    height: 800px; /* Puedes ajustar la altura según tus necesidades */
    width: 100%; /* Esto hace que las imágenes se ajusten al ancho del contenedor */
}




